<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>

    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Dear <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>We have noticed that you have requested new password. </p>
<br/>
<p>Please find below your login credentials with renewed password:</p>
<p><strong>User Name: </strong><span th:text="${username}"></span> </p>
<p><strong>New Password: </strong><span th:text="${password}"></span> </p>
<br/>
<p>Best,</p>
<p>SK Group - Bookstore</p>
</body>
</html>